@font-face {
    font-family: 'Montserrat-bold';
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf) format('ttf');
    src: url(/fonts/Montserrat/static/Montserrat-Bold.woff) format('woff');

}

@font-face {
    font-family: 'Montserrat-light';
    src: url(/fonts/Montserrat/static/Montserrat-Light.ttf) format('ttf');
    src: url(/fonts/Montserrat/static/Montserrat-Light.woff) format('woff');

}

@font-face {
    font-family: 'Roboto-Light';
    src: url(/fonts/Roboto/Roboto-Light.ttf) format('ttf');
    src: url(/fonts/Roboto/Roboto-Light.woff) format('woff');

}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf) format('ttf');
    src: url(/fonts/Montserrat/static/Montserrat-Regular.woff) format('woff');

}